<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
  	<%= link_to "edit", edit_expense_path(@expense), class: 'btn btn-primary' %>
		<h1>
			<%= @expense.title %> 
			<span>
				<em><%= number_to_currency(@expense.amount) %><em>
			</span>
		</h1>
		<p>
			<% if @expense.description.empty? %>
			  <em>(No Description)</em>
			<% else %>
			  <%= @expense.description %>
			<% end %>
		</p>
	</div>
</div>
